/* CSS Document */

body{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
}

.noprint{
    display:none;
}

label {width: 11em; float: left;}

table.TabDisplayRecords{
    width:100%;
    border:1px solid black;
    border-collapse: collapse;

}
table.TabDisplayRecords th, table.TabDisplayRecords td {

    border:1px solid black;
    padding: 5px;

}
