@media screen and (min-width: 240px) and (max-width:479px){
aside.side_nav {
    width: 100%;
    height: auto;
    position: relative;
    float: left;
}

.sideNav_links {
    transition: 0.5s ease-in-out;
    display: none;
}

.deactiveAside {
	width: 100% !important;
}

.deactiveAside .sideNav_links{
	display: block !important;
	margin: 0;
}

.deactiveAside .sideNav_links li a span{
	display: block !important;
}

.sidenav_logo_btn a {
    display: block !important;
    max-width: unset;
    font-size: 14px;
}

.sidenav_logo_btn span {
    float: right;
    margin: 0px 2px 0 0;
}

.deactiveAside .sidenav_logo_btn a{
	display: block !important;
}

.completeWrap {
    width: 100%;
}

.headerNav{
	display: none !important;
}

.completeWrap_inner {
    margin: 11px 0 0px 0px;
}

.completeWrap_inner_main{
	border-radius: 0;
}

.contain_wrap {
    width: 90%;
	right: -90%;
}

.input_listing li {
    width: 100%;
    padding: 6px 0;
}

.closePop {
    right: 0;
    top: 0px;
}

.submit_btn {
    font-size: 13px;
    padding: 9px 18px;
}

.reset_btn{
    font-size: 13px;
    padding: 9px 18px;
}

.activeSection {
    width: 100% !important;
}

.search_box_wrap {
    right: -10em;
	transform-origin: top left;
}

.user_info_wrap {
    top: 40px;
}

.activeSearch_box_wrap {                                                                       
    top: 40px !important;
}

/************** login style **************/
.loginComplete_wrap {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    -ms-transform: no;
}

.side_info{
	display: none;
}

.loginForm_wrap {
    width: 100%;
    padding: 0 25px;
    position: relative;
}

.loginInner{
	box-shadow: none;
}

}

@media screen and (min-width: 480px) and (max-width:500px){
aside.side_nav {
    width: 100%;
    height: auto;
    position: relative;
    float: left;
}

.sideNav_links {
    transition: 0.5s ease-in-out;
    display: none;
}

.deactiveAside {
	width: 100% !important;
}

.deactiveAside .sideNav_links{
	display: block !important;
	margin: 0;
}

.deactiveAside .sideNav_links li a span{
	display: block !important;
}

.sidenav_logo_btn a {
    display: block !important;
    max-width: unset;
    font-size: 14px;
}

.sidenav_logo_btn span {
    float: right;
    margin: 0px 2px 0 0;
}

.deactiveAside .sidenav_logo_btn a{
	display: block !important;
}

.completeWrap {
    width: 100%;
}

.headerNav{
	display: none !important;
}

.completeWrap_inner {
    margin: 11px 0 0px 0px;
}

.completeWrap_inner_main{
	border-radius: 0;
}

.contain_wrap {
    width: 90%;
	right: -90%;
}

.input_listing li {
    width: 100%;
    padding: 6px 0;
}

.closePop {
    right: 0;
    top: 0px;
}

.submit_btn {
    font-size: 13px;
    padding: 9px 18px;
}

.reset_btn{
    font-size: 13px;
    padding: 9px 18px;
}

.activeSection {
    width: 100% !important;
}

.search_box_wrap {
    right: -10em;
	transform-origin: top left;
}

.user_info_wrap {
    top: 40px;
}

.activeSearch_box_wrap {                                                                       
    top: 40px !important;
}

/************** login style **************/
.loginComplete_wrap {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    -ms-transform: no;
}

.side_info{
	display: none;
}

.loginForm_wrap {
    width: 100%;
    padding: 0 25px;
    position: relative;
}

.loginInner{
	box-shadow: none;
}

}

@media screen and (min-width: 501px) and (max-width:743px){
aside.side_nav {
    width: 100%;
    height: auto;
    position: relative;
    float: left;
}

.sideNav_links {
    transition: 0.5s ease-in-out;
    display: none;
}

.deactiveAside {
	width: 100% !important;
}

.deactiveAside .sideNav_links{
	display: block !important;
	margin: 0;
}

.deactiveAside .sideNav_links li a span{
	display: block !important;
}

.sidenav_logo_btn a {
	display: block !important;	
    max-width: unset;
}

.deactiveAside .sidenav_logo_btn a{
	display: block !important;
}

.completeWrap {
    width: 100%;
}

.headerNav{
	display: none !important;
}

.completeWrap_inner {
    margin: 11px 0 0px 0px;
}

.completeWrap_inner_main{
	border-radius: 0;
}

.contain_wrap {
    width: 90%;
	right: -90%;
}

.input_listing li {
    width: 100%;
    padding: 6px 0;
}

.closePop {
    right: 0;
    top: 0px;
}

.submit_btn {
    font-size: 13px;
    padding: 9px 18px;
}

.reset_btn{
    font-size: 13px;
    padding: 9px 18px;
}

.activeSection {
    width: 100% !important;
}

.search_box_wrap {
    right: -10em;
	transform-origin: top left;
}

.user_info_wrap {
    top: 40px;
}

.activeSearch_box_wrap {                                                                       
    top: 40px !important;
}

/************** login style **************/
.loginComplete_wrap {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    -ms-transform: no;
}

.side_info{
	display: none;
}

.loginForm_wrap {
    width: 100%;
    padding: 0 25px;
    position: relative;
}

.loginInner{
	box-shadow: none;
}

}

@media screen and (min-width: 744px) and (max-width:899px){
aside.side_nav {
    width: 100%;
    height: auto;
    position: relative;
    float: left;
}

.sideNav_links {
    transition: 0.5s ease-in-out;
    display: none;
}

.deactiveAside {
	width: 100% !important;
}

.deactiveAside .sideNav_links{
	display: block !important;
	margin: 0;
}

.deactiveAside .sideNav_links li a span{
	display: block !important;
}

.sidenav_logo_btn a {
	display: block !important;
}

.deactiveAside .sidenav_logo_btn a{
	display: block !important;
}

.completeWrap {
    width: 100%;
}

.completeWrap_inner {
    margin: 11px 0 0px 0px;
}

.completeWrap_inner_main{
	border-radius: 0;
}

.contain_wrap {
    width: 90%;
	right: -90%;
}

.input_listing li {
    width: 100%;
    padding: 6px 0;
}

.closePop {
    right: 0;
    top: 0px;
}

.submit_btn {
    font-size: 13px;
    padding: 9px 18px;
}

.reset_btn{
    font-size: 13px;
    padding: 9px 18px;
}

.activeSection {
    width: 100% !important;
}

.search_box_wrap {
    right: -10em;
	transform-origin: top left;
}

.user_info_wrap {
    top: 40px;
}

.activeSearch_box_wrap {                                                                       
    top: 40px !important;
}

}

@media screen and (min-width: 900px) and (max-width: 1200px){
aside.side_nav {
    width: 25%;
}

.completeWrap {
    width: 75%;
}

.activeSection {
    width: 93% !important;
}

.deactiveAside {
    width: 7% !important;
}

.completeWrapCover:after {
    background: #5964ad;
    opacity: 0.4;
}

.popupWrap {
    background: #3e4e7ac4;
}

.popupMain{
	border: 2px solid #ccc;
}


}

@media screen and (min-width: 1201px) and (max-width: 2000px){
.deactiveAside .sub_links{
	display: none !important;
}
}