@charset "utf-8";
/* CSS Document */

body{
	width:100%;
	padding:0;
	margin:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-align:justify;
}
input[type=text],input[type="password"],textarea{
border:thin solid #e2e2e2;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
padding:5px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#000000;
}
textarea{
	width:70%;
}

input[type="submit"], input[type="reset"], input[type="button"], a.button{
background-color:#659316;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
color:#FFFFFF;
border:thin solid #213b03;
margin:0px;
padding:5px 12px 7px 12px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, a.button:hover{
background-color:#545454;
color:#FFFFFF;
text-decoration:none;
}

input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, a.button:active{
	position: relative;
	top: 1px;
}

/*style to grow input box */
.growinput {
    width: 200px;
    outline: none;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.growinput:focus {
    width: 400px;
}

select{
border: thin solid #e2e2e2;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
padding:5px;
/*width: 150px;
height: 25px;*/
font-size: 11px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}


a{
color:#3d560d;
text-decoration:none;
}

a:hover{
color:#3d560d;
text-decoration:underline;
}

a img{
	border:0;
}

h1{
	width:97%;
	background-color:#f1f1f1;
	border:thin solid #e3e3e3;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000000;
	padding:7px 0px 5px 17px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	clear:both;
}

/*jquery error styles */
label.error { float: none; color: red; padding-left: .5em; padding-right: .5em;  }
/*.submit { margin-left: 12em; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; }*/

legend{ font-weight:bold;font-style:italic; }
label { width: 14em; float: left; }
.long_label { width: 15em; float: left; }
span.sp_form_hint{
	font-size:80%;
}

div.err{
	margin-bottom:10px;
}
div.err p{
	background-color:#990000;
	color:#FFFFFF;
	padding:0.4em;
	font-size:90%;
}
div.suc{
	margin-bottom:10px;
}
div.suc p{
	background-color:#009900;
	color:#FFFFFF;
	padding:0.4em;
	font-size:90%;
}

/*pagination style */
.pagination {
	float:right;
	height: 22px;
}
.pagination span{
	border:1.0pt solid #000000;
	padding:2px 6px;
	background-color:#CCCCCC;
	color:#000000;
	min-width:10px;
	color:#666666;
	font-weight:bold;
}
.pagination span:hover{
	background-color:#999999;
}
.pagination a, .pagination strong{
	float:left;
	padding: 0 10px;
	line-height: 20px;
	text-decoration: none;
	border: thin solid #bebebe;
	border-left-width: 0;
	background-color: white;
	color: #999;
}

.pagination a:first-child, .pagination strong:first-child {
	border-left: thin solid #bebebe;
}

.pagination strong{
	color:#999999;
	background-color:#EEEEEE;
}

.pagination a:hover{
	color:#999999;
	background-color:#EEEEEE;
}

.pagination_msg {
	float:left;
}

/*pagination style */

#container{
	background-color:#FFFFFF;
}
#wrapper{
width:100%;
min-width:800px;
min-height:200px;
background:url(../images/back_slice.jpg) repeat-x #f3f3f3;
/*margin:0px auto;
padding:0px 17px 0px 23px;*/
overflow:hidden;
margin:0px;
padding:0px;
}


#top_bar{
width:97%;
min-height:70px;
/*background-color:#99CC66;*/
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#ececec;
text-align:right;
line-height:18px;
padding:21px 17px 0px 23px;
margin:0px 0px 0px 0px;
clear:both;
}

#top_bar a{
color:#ececec;
text-decoration:none;
}

#top_bar a:hover{
color:#87e900;
text-decoration:none;
}

.text_1{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#FFFFFF;
font-weight:bold;
}

.text_1 a{
color:#FFFFFF;
}

.text_col{
color:#87e900;
}

.logo{
float:left;
}


#menu{
width:97%;
clear:both;
/*min-height:50px;
background-color:#FF99CC;*/
overflow:hidden;
padding:0px 17px 0px 23px;
}

#menu ul{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}

#menu ul li{
padding:18px 18px 18px 20px;
margin:0px 15px 0px 0px;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#FFFFFF;
list-style:none;
float:left;
}

#menu ul li a{
color:#FFFFFF;
text-decoration:none;
}

#menu ul li a:hover{
color:#000000;
text-decoration:none;
}

#menu ul li:hover{
color:#000000;
/*height:20px;*/
background:url(../images/menu_hover.jpg) repeat-x;
}

#menu ul li.noMnuhover:hover{
color:#000000;
/*background:url(../images/menu_hover.jpg) repeat-x;*/
background-image:none;
}
#menu ul li input{
	margin-top:-5px;
}

#menu ul li.active_menu{
background:url(../images/menu_hover.jpg) repeat-x;
}
#menu ul li.active_menu a{
color:#000000;
}

#menu ul li:hover a{
color:#000000;
}

#body_content{
width:100%;
min-height:100px;
/*background-color:#99CC66;*/
margin:11px 0px 0px 0px;
clear:both;
overflow:hidden;
}


#body_content_left{
width:232px;
min-height:100px;
/*background-color:#33FFCC;*/
float:left;
padding:0px 0px 0px 3px;
margin:0px 0px 0px 0px;
}


#body_content_left ul{
padding:0px 0px 0px 0px;
margin:10px 0px 0px 5px;
}

#body_content_left ul li{
padding:9px 0px 25px 30px;
margin:0px 0px 0px 0px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#000000;
list-style:none;
background:url(../images/catogori_back.jpg) no-repeat;
}

#body_content_left ul li a{
color:#000000;
text-decoration:none;
}

#body_content_left ul li a:hover{
color:#FFFFFF;
text-decoration:none;
}

#body_content_left ul li:hover{
background:url(../images/catogori_hover.jpg) no-repeat;
}



#body_content_right{
width:100%;
min-height:350px;
background-color:#FFFFFF;
/*position:absolute;
left:283px;*/
padding:17px;
float:right;
margin:0px 0px 0px 0px;
/*overflow:hidden;
clear:both;*/
}


.img_1{
margin:0px 3px 0px 0px;
}

/*.img_1 a{
padding:0px;
margin:0px;
}*/

a:hover img.img_1{
-webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.6);
-moz-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.6);
box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.6);
}


.TabDisplayRecords{
border:thin solid #bebebe;
border-collapse: collapse;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
/*font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#000000;*/
width:100%;
}


.TabDisplayRecords th, .TabDisplayRecords thead td{
background-color:#eeeeee;
border-right:thin solid #bebebe;
border-bottom:thin solid #bebebe;
padding:10px;
}

.TabDisplayRecords td{
border-right:thin solid #bebebe;
padding:10px;
}


.TabDisplayRecords tfoot tr{
border-top:thin solid #bebebe;
padding:10px;
}
.TabDisplayRecords tfoot tr:hover{
background-color:#FFF;
}

/*///////////////////////////////*/
/* Grid Style */
table.TabDisplayRecords thead tr .header {
background-image: url(../images/bg.gif);
background-repeat: no-repeat;
background-position: center right;
cursor: pointer;
}
table.TabDisplayRecords thead tr .headerSortUp {
background-image: url(../images/asc.gif);
}
table.TabDisplayRecords thead tr .headerSortDown {
background-image: url(../images/desc.gif);
}
/*// JavaScript Document
////////////////////////////////*/

/*.TabDisplayRecords td a{
color:#000000;
text-decoration:none;
}

.TabDisplayRecords td a:hover{
color:#3d560d;
text-decoration:underline;
}*/



.TabDisplayRecords tr:hover{
background-color:#ccdbb3;
}



#body_content_right_forth{
width:98%;
background-color:#f1f1f1;
border:thin solid #e3e3e3;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#000000;
padding:5px 0px 7px 10px;
margin:47px 0px 0px 0px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
clear:both;
}

#body_content_right_fifth{
width:99%;
min-height:100px;
/*background-color:#CC99FF;*/
padding:20px 0px 0px 12px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#000000;
text-align:justify;
}




#footer{
width:100%;
min-height:26px;
background-color:#3c3c3c;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#69ac09;
text-align:center;
padding:14px 0px 0px 0px;
margin:10px 0px 0px 0px;
}

#footer a{
color:#69ac09;
text-decoration:none;
}

#footer a:hover{
color:#69ac09;
text-decoration:underline;
}

.clear_div{
clear:both;
}

.dashboard_content_left{
width:47%;
float:left;
}

.dashboard_content_right{
width:47%;
float:right;
}

.yearly_pro_pay_1{
width:20%;
float:left;
margin:5px 0px 5px 0px;
}

.yearly_pro_pay_2{
width:40%;
float:left;
margin:5px 0px 5px 0px;
}

.yearly_pro_pay_3{
width:40%;
float:right;
margin:5px 0px 5px 0px;
}

.dashboard_content_inner_left{
width:30%;
float:left;
margin:5px 0px 5px 0px;
}

.dashboard_content_inner_right{
width:70%;
float:left;
margin:5px 0px 5px 0px;
}

.dash_payment_con_left{
text-align:right;
width:30%;
float:left;
margin:5px 0px 5px 0px;
}

.newsletter_check_close{
margin:2px 0px 2px 0px;
padding:0px;
}

.schedule_span{
display:none;
}

p.preview .btnsubmit{
padding:2px 10px 3px 10px;
-webkit-border-radius:0px 4px 4px 0px;
-moz-border-radius:0px 4px 4px 0px;
border-radius:0px 4px 4px 0px;
}

.direct_link{
	width:96%;
	height:55px;
	background-color:#FFFFFF;
	border:thin solid #e3e3e3;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000000;
	padding:5px 0px 5px 26px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	clear:both;
}

.TabDisplayProductInClient{
border-collapse: collapse;
width:100%;
}


.TabDisplayProductInClient th{
background-color:#eeeeee;
padding:10px;
}

.TabDisplayProductInClient td{
padding:10px;
}

.TabDisplayProductInClient tr:hover{
background-color:#ccdbb3;
}


.project-details{
/*	max-height:108px;
	overflow:hidden;*/
}


.msgDown, .red{
	padding-left:10px;
	color:#FF0000;
}
.msgUp, .green{
	padding-left:10px;
	color:#009933;
}


a.AChangeYear{
	font-size:11px;
}

form.editable_status{
	padding:0;margin:0;
}

h1 .HeadingSmallText{
	float:right;
	margin-top:4px;
	margin-right:20px;
	font-size:12px;
}

.count_text {
    color: #659316;
    position: relative;
    top: -10px;
}

.limit_text {
    float: right;
    position: relative;
    top: -45px;
    margin-right: 160px;
}

.download_excel_container {
    width: 50%;
    text-align: right;
    float: left;
    margin-top: 20px;
    display: inline-block;
}
.back_button_container {
    width: 50%;
    text-align: left;
    float: left;
    margin-top: 20px;
    display: inline-block;
}

.s_message {
    color: #659316 !important;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: left;
    width: 100%;
    float: left;
}

.e_message {
    color: #e73939 !important;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: left;
    width: 100%;
    float: left;
}

/*green*/
.leadsHighlight01 {
    color: #659316 !important;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: left;
    margin-left: 5px;
}

/*red*/
.leadsHighlight02 {
    color: #e73939 !important;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: left;
    margin-left: 5px;
}

/************* 07-03-2020 ************/

#result {
    width: 50%;
	float: left;
    box-sizing: border-box;
}

#result .table-responsive {
    width: 92%;
	float: left;
    border: 1px solid #444444;
    padding: 9px 14px;
    margin: 0 0 10px 0;
    box-sizing: border-box;
}

.wrp_all {
    width: 35%;
    float: left;
    box-sizing: border-box;
	margin-left: 0 !important;
}

.clipboard{
    width: 100%;
	float: left;
	margin: 12px 0;
}

.clipWrp{
    width: 100%;
	float: left;
	margin: 12px 0;
}

.add_btn{
    background-color: #659316;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    border: thin solid #213b03;
    margin: 0px;
    padding: 5px 12px 7px 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	float: right;
}

#button1{
    background-color: #659316;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    border: thin solid #213b03;
    margin: 0px;
    padding: 5px 12px 7px 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	float: left;
}

.del_btn {
    background-color: #dc0000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    border: thin solid #770000;
    margin: 0px;
    padding: 1px 8px 4px 7px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*float: none;*/
		float: right;
}

.clip_links a {
    font-size: 15px;
    margin: 0 7px 0 0px;
    font-weight: 600;
}

#result .table-responsive table{
	width: 100%;
}
