@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');

body{
	position: relative;
	overflow-x: hidden;
	font-family: Quicksand;
}

aside.side_nav{
	width: 20%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: #242939;
	transition: 0.3s ease-in-out;
}

.deactiveAside{
	width: 5% !important;
}

.sidenav_inner{
	width: 100%;
	max-height: 100vh;
	float: left;
	overflow: auto;
	scrollbar-width: none;
}

.completeWrap{
	width: 80%;
	float: right;
	min-height: 100vh;
	background: #f1f1f7;
	transition: 0.3s ease-in-out;
}

.activeSection{
	width: 95% !important;
}

.sidenav_logo_btn {
    width: 100%;
    float: left;
    padding: 20px 25px;
	position: relative;
}

.sidenav_logo_btn a {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    position: absolute;
    max-width: 185px;
}

.sidenav_logo_btn span{
    float: right;
    margin: 7px 0 0 0;
}

.sidenav_logo_btn span i {
    color: #fff!important;
    font-size: 22px;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

.sidenav_logo_btn span i:hover{
	color: #fff;
}

header {
    width: 100%;
    float: left;
    background: #fff;
    padding: 8px 15px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.headerNav{
	width: auto;
	float: left;
	margin: 0;
	padding: 0;
}

.headerNav li{
	list-style: none;
	float: left;
	margin: 0;
}

.headerNav li a {
    width: 100%;
    float: left;
    padding: 10px 15px;
    margin: 0;
    text-transform: capitalize;
    font-weight: 600;
    color: #242939;
	text-decoration: none;
	transition: 0.3s ease-in-out;
    border-radius: 8px;
}

.headerNav li a:hover{
    background: #c1cbfd;
}

.adminInfoWidgate {
    width: auto;
    float: right;
    margin: 6px 0 0 0;
    padding: 0;
}

.adminInfoWidgate li{
	list-style: none;
	float: left;
	position: relative;
}

.search_box_wrap {
    position: absolute;
    background: #fff;
    top: 31px;
    right: 0;
    padding: 18px 28px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in-out;
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
	z-index: 1;
}

.activeSearch_box_wrap{
    transform: scale(1);
    opacity: 1;
    top: 46px !important;
}

.search_box_wrap input[type="text"] {
    width: 210px;
    padding: 7px 12px;
    outline: none;
    border: 1px solid #b9b9b9;
}

.adminInfoWidgate li a{
    width: 100%;
    padding: 10px 15px;
    margin: 0;
    text-transform: capitalize;
    font-weight: 600;
    color: #242939;
	text-decoration: none;
}

.adminInfoWidgate li a span picture {
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 100%;
    float: right;
    margin: -4px 0 0 0;
}

.adminInfoWidgate li a span picture img{
	width: 100%;
}

.adminInfoWidgate li a i.fa-th-large {
    font-size: 20px;
    color: #5d77fd;
    margin: 5px 0 0 15px;
}

.sideNav_links {
	width: 100%;
	float: left;
	padding: 0;
	margin: 60px 0 0 0;
}

.sideNav_links li {
	width: 100%;
	float: left;
	padding: 0 0;
	margin: 0;
	list-style: none;
}

.sideNav_links li a {
    width: 100%;
    float: left;
    padding: 14px 23px;
    color: #a3abc4;
    text-transform: capitalize;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    position: relative;
}

.sideNav_links li a:hover{
    background: #343b53;
}

.deactiveAside ul li a{
    background: #343b53;
    margin: 0px 0 5px 0;
}

.deactiveAside ul li a:hover{
	background: transparent;
}

.sideNav_links li a i {
    color: #667194;
    font-size: 20px;
    margin: 0 8px 0 0px;
}

.sideNav_links li a span {
    position: absolute;
    top: 12px;
    left: 57px;
}
.sub_links {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
    background: #0e1017;
	display: none;
}

.netWeinSubmenu li p {
    width: 100%;
    float: left;
    margin: 0;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    padding: 14px 0px 0 12px;
}

.sub_links li a {
    padding: 10px 46px;
    color: #606c90;
    font-weight: 700;
    font-size: 15px;
}

.drop_down_icon {
    position: relative !important;
    float: right;
    margin: -7px 56px 0 0px;
	transition: 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #242939;
}

::-webkit-scrollbar-thumb:hover {
  background: #242939;
}

.deactiveAside .sub_links{
	display: none;
}

.rotateThis {
    transform: rotate(-180deg);
}

.contain_wrap {
    width: 30%;
    min-height: 100%;
    position: fixed;
    top: 0;
    right: -31%;
    background: #fff;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
	z-index: 999;
}

.activeContain_wrap{
    right: 0% !important;
}

.contain_Inner {
    width: 100%;
    min-height: 100vh;
    position: relative;
	float: left;
    padding: 15px 15px;
}

.contain_Inner span{
	float: right;
}

.contain_Inner span i {
    background: #5d78ff;
    color: #fff;
    padding: 6px 11px;
    border-radius: 4px;
    cursor: pointer;
}

.completeWrapCover{
	position: relative !important;
}

.completeWrapCover:after {
    content: '';
    position: fixed;
    background: rgb(27, 48, 153, 0.2);
    width: 100%;
    height: 100%;
    z-index: 9;
    top: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.user_info_wrap {
    width: 200px;
    background: #fff;
    position: absolute;
    right: 0;
    padding: 0;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    top: 46px;
	transform-origin: top right;
	transform: scale(0);
	opacity: 0;
	transition: 0.4s ease-in-out;
	z-index: 1;
}

.active_user_info_wrap{
	transform: scale(1);
	opacity: 1;
}

.user_info_wrap li {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}

.user_info_wrap li p {
    background: #a40505;
    margin: 0 0 0 0;
    color: #fff;
    padding: 10px 14px;
}

.user_info_wrap li p small{
	width: 100%;
	float: left;
}

.user_info_wrap li a {
    margin: 0 0 0 0;
    color: #333;
    padding: 4px 13px;
    width: 100%;
    float: left;
	transition: 0.3s ease-in-out;
}

.user_info_wrap li:last-child a {
    border-top: 1px solid #ddd;
    margin: 5px 0 0 0;
    padding: 12px 19px 16px 17px;
}

.user_info_wrap li a:hover{
	color: #a40505;
}

.completeWrap_inner {
    width: 100%;
    float: left;
    margin: 40px 0 40px 0px;
	transition: 0.3s ease-in-out;
	transform: scale(1.07);
	opacity: 0;
}

.activeCompleteWrap_inner{
	transform: scale(1);
	opacity: 1;
}

.completeWrap_container{
	max-width: 1035px;
	margin: 0 auto;
}

.completeWrap_inner_main {
    width: 100%;
    float: left;
    padding: 25px 25px;
    background: #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.heading_02 {
    width: 100%;
    float: left;
    font-size: 26px;
    font-weight: 800;
    margin: 0 0 25px 0;
    padding: 0 0 0 13px;
    border-left: 5px solid #a40505;
    color: #515871;
	text-transform: capitalize;
}

.heading_05 {
    width: 100%;
    float: left;
    font-size: 18px;
    font-weight: 800;
    margin: 0 0 25px 0;
    padding: 0 0 0 13px;
    border-left: 3px solid #5d77fd;
    color: #515871;
	text-transform: capitalize;
}

.form_wrap{
	width: 100%;
	float: left;
}

.input_listing{
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}

.input_listing li {
    list-style: none;
    width: 50%;
    float: left;
    padding: 10px 15px;
}

.full_width_li{
	width: 100% !important;
}

textarea{
	height: 120px;
}

input, select, textarea{
    width: 100%;
    float: left;
    padding: 12px 20px;
    outline: none;
    background: #fff;
    border: 1px solid #a7a7a7;
}

::placeholder{
	text-transform: capitalize;
	color: #888;
	opacity: 1;
}

/**********radio btn style************/
.container_radio {
    display: inline-block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 14px;
    padding-top: 5px;
}

/* Hide the browser's default radio button */
.container_radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container_radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container_radio input:checked ~ .checkmark {
    background-color: #5d77fd;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container_radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container_radio .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
/**********radio btn style end************/

/**********checkbox style************/

.container_checkbox {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 15px;
    padding-top: 2px;
}

/* Hide the browser's default checkbox */
.container_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.container_checkbox .checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 0 !important;
}

/* On mouse-over, add a grey background color */
.container_checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_checkbox input:checked ~ .checkmark {
    background-color: #a40505;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_checkbox .checkmark:after {
    left: 10px;
    top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/**********checkbox style end************/

.table_wrap{
	width: 100%;
	float: left;
	margin-top: 15px;
}

.submit_btn {
	width: auto;
	float: none;
    border: 0;
    background: #a40505;
    cursor: pointer;
    color: #dfe4ff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 600;
	margin: 0 12px 0 0px;
	outline: none;
	transition: 0.3s ease-in-out;
	text-decoration: none;
}

.submit_btn:hover {
    color: #dfe4ff;
	background: #1f1f1f;;
	text-decoration: none;
}

.reset_btn {
	width: auto;
	float: none;
    border: 0;
    background: #899cf9;
    cursor: pointer;
    color: #f9f9f9;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 600;
	margin: 0 12px 0 0px;
	outline: none;
	transition: 0.3s ease-in-out;
	text-decoration: none;
}

.reset_btn:hover {
	background: #4154b3;
    color: #f9f9f9;
	text-decoration: none;
}

/************** popup style ***********/

.popupWrap {
	width: 100%;
	min-height: 100vh;
	position: fixed;
	background: rgb(27, 48, 153, 0.2);
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
}

.popupInner{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	padding: 20px 20px;
}

.popupContainer{
	max-width: 700px;
	height: auto;
	margin: 0 auto;
}

.popupMain {
    width: 100%;
    float: left;
    padding: 15px 15px;
    min-height: 60px;
    background: #fff;
    border-radius: 9px;
    box-shadow: 0px 4px 10px rgb(29, 15, 66, .4);
	position: relative;
	transition: 0.5s ease-in-out;
	transform: scale(1.1);
	opacity: 0;
}

.activePopupWrap .popupMain{
	transform: scale(1);
	opacity: 1;
}

.heading_01 {
    width: 100%;
    float: left;
    margin: 0 0 13px 0;
    padding: 3px 0 14px 0;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
    color: #343f71;
    border-bottom: 1px solid #7c7c7c;
}

.popupMain article {
    width: 100%;
    float: left;
    text-align: center;
    margin: 10px 0 25px 0;
}

.popupMain article p {
    font-size: 17px;
    color: #141c3e;
    font-weight: 500;
    max-width: 550px;
    margin: 0 auto;
}

.popBtnWrap {
    width: 100%;
    float: left;
    text-align: center;
    padding: 20px 0 12px 0;
    margin: 1px 0 0 0;
    border-top: 1px solid #cccccc;
}

.closePop {
    position: absolute;
    right: 13px;
    top: 12px;
    background: #d4d8f1;
    padding: 2px 10px;
    color: #8087b1;
    border-radius: 5px;
    font-weight: 700;
    opacity: .8;
    user-select: none;
    cursor: pointer;
}

.dashboardCard_wrap {
    width: 100%;
    float: left;
    position: relative;
}

.dashboardCard{
	margin: 10px 0;
}

.dashboard_card_inner {
    width: 100%;
    float: left;
    padding: 21px 21px;
    background: #f1f1f7;
    box-shadow: 1px 3px 8px inset rgb(177, 177, 198);
    border-radius: 0;
}

.dashboard_card_inner h3 {
    font-size: 15px;
    width: 100%;
    float: left;
    text-align: right;
    text-transform: capitalize;
    font-weight: 700;
    color: #737380;
}

.dashboard_card_inner h3 strong {
    width: 100%;
    float: left;
    font-size: 45px;
    color: #333338;
    font-weight: 100;
}

.dashboard_card_inner a {
    width: 100%;
    float: left;
    text-align: right;
    padding: 9px 0 0 0;
    margin: 9px 0 0 0;
    border-top: 1px solid #afafaf;
    text-transform: capitalize;
    font-weight: 700;
    color: #8c8c8c;
    text-decoration: none;
}

.bullet_listing{
	width: 100%;
	float: left;
}

.bullet_listing li p {
    margin: 0 0 0 0;
    font-size: 17px;
    font-weight: 500;
}

.number_listing{
	width: 100%;
	float: left;
	list-style: decimal;
}

.number_listing li p {
    margin: 0 0 0 0;
    font-size: 17px;
    font-weight: 500;
}

/**********login style start***********/

.loginComplete_wrap{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.loginContainer{
	max-width: 750px;
	margin: 0 auto;
}

.loginInner{
	width: 100%;
	float: left;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.loginMain{
	width: 100%;
	float: left;
	min-height: 60px;
	overflow: hidden;
}

.side_info{
	width: 35%;
	float: left;
	position: relative;
}

.side_info:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 135%;
    top: 0;
    left: -128px;
    background: #a40505;
    transform: rotate(-21deg);
    border-radius: 31px;
	animation-name: example_02;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	transition: 0.3s ease-in-out;
}

@keyframes example_02 {
	0%   {transform: rotate(-21deg);}
	20%   {transform: rotate(9deg);}
	40%   {transform: rotate(-29deg);}
	60%   {transform: rotate(10deg);}
	80%   {transform: rotate(30deg);}
	100%   {transform: rotate(-21deg);}
}

.sideInfoInner {
    width: 100%;
    float: left;
    margin: 165px 0;
    padding: 0 15px;
    text-align: center;
	position: relative;
	z-index: 1;
}

.sideInfoInner h1 {
    font-size: 27px;
    color: #fff;
    margin: 17px 0 8px 0;
}

.sideInfoInner article {
    width: 100%;
    float: left;
    margin: 5px 0 5px 0;
}

.sideInfoInner article p {
    width: 100%;
    float: left;
    margin: 0 0 0 0;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.loginForm_wrap {
    width: 60%;
    float: right;
    min-height: 50px;
    margin: 10% 0 0 0;
    padding: 0 25px;
	position: relative;
}

.loginForm_wrap:after {
    content: '';
    height: 200px;
    width: 200px;
    position: absolute;
    background:#a40505;
    right: -89px;
    top: -165px;
    border-radius: 100%;
}


/************/
.loginForm_wrap h3 {
    width: 100%;
    float: left;
    text-align: center;
    margin: 0 0 20px 0;
    font-weight: 800;
    color: #a40505;
    font-size: 25px;
}

.loginForm_wrap form{
	width: 100%;
	float: left;
}
.form_wrap form{
	width: 100%;
	float: left;
}

.loginForm_wrap span {
    width: 100%;
    float: left;
    margin: 20px 0 0 0;
}

.loginForm_wrap span .loginInput {
    width: 100%;
    float: left;
    font-size: 17px;
    border: 0;
    background: #f1e4e4;
    color: #000;
    padding: 15px 18px;
    outline: none;
}

.loginForm_wrap span .loginInput::placeholder {
	color: #a40505;
	opacity: 1;
	text-transform: capitalize;
	font-weight: 600;


}

.loginForm_wrap a {
    float: right;
    margin: 8px 0 0 0;
    font-weight: 600;
    color: #000;
	text-decoration: none;
}

.loginForm_wrap span input[type="submit"] {
    border: 0;
    outline: none;
    background: #a40505;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    width: 100%;
    padding: 8px 6px;
    border-radius: 5px;
	cursor: pointer;
	transition:0.3s;
}
.loginForm_wrap span input[type="submit"]:hover {
    border: 0;
    outline: none;
    background: #1f1f1f;
}
.loginForm_wrap .container_checkbox .checkmark{
	margin: 2px 0 0 0 !important;
    width: 20px;
    height: 20px;
}

.loginForm_wrap .container_checkbox .checkmark:after {
    left: 7px;
    top: 4px;
}

.loginForm_wrap .container_checkbox {
    padding-left: 26px;
    margin-bottom: 0;
    color: #000;
    padding-top: 4px;
    margin: 5px 0 0 0;
	font-size: 15px;
}

.loginForm_wrap .e_message {
    width: 100%;
    position: absolute;
    right: 0;
    z-index: 9;
    font-weight: 600;
    bottom: -49px;
    color: #eb4f4f;
    text-align: center;
}

.loginForm_wrap .s_message {
    width: 100%;
    position: absolute;
    right: 0;
    z-index: 9;
    font-weight: 600;
    border-radius: 0;
    bottom: -60px;
    padding: 0;
    color: #4b9f4e;
    text-align: center;
}




/*********************12-14-2019*********************/

#maincontent .column {
    max-width: 70% !important;
    float: right !important;
    position: relative;
    margin-left: 37%;
}

#maincontent .sidebar-main{
	width: 30% !important;
	float: left;
	position: absolute;
}

.modal-footer {
    float: left;
    width: 100%;
    margin: 20px 0 0 0;
    padding: 13px 0 0px 0;
}

.close{
	cursor: pointer;
	outline: none !important;
}

.c-link {
    width: auto;
    float: left;
    margin: 0 10px 12px 0px;
    background: #a40505;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px 25px;
    border-radius: 5px;
	transition: 0.3s ease-in-out;
}

.c-link:hover{
	background: #1f1f1f;
	color: #fff;
	text-decoration: none;
}

.completeWrap_inner_main .s_message {
    width: 100%;
    float: left;
    margin: 0 0 5px 0;
    color: #299964;
    font-size: 18px;
    font-weight: 500;
}

.completeWrap_inner_main .e_message {
    width: 100%;
    float: left;
    margin: 0 0 5px 0;
    color: #dc3030;
    font-size: 18px;
    font-weight: 500;
}

.block-label {
    display: block;
}

.progress_bar {
    display: none;
}
.progress {
    position: relative;
    width: 100%;
    border: 1px solid #ddd;
    padding: 1px;
    background-color: #ffffff;
    border-radius: 10px;
    height: 20px;
}
.bar {
    background-color: #5D77FD;
    width: 0%;
    height: 16px;
    border-radius: 10px;
}
.percent {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 48%;
    color: #ffffff;
}

/*Admit Card css*/

   #admit-card{
       width: 100%;
       height: auto;
       float: left;
       padding: 70px 0 70px 0;


   }
   .form-content {
    width: 100%;
    padding-bottom: 10px;
}

   .admision_cnt input {
    border: none;
    border-bottom: 1px dashed;
}
.admision_cnt{
    float: left;
}
.admision_box{
    float: right;
}
.form-content{
    width: 100%;
}
.admit_header_content{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
}

.admit_header {
    width: 100%;
    height: auto;
    float: left;
}
.admit_image img{
  width: 180px;
height: 180px;
}


.form-content input {
    border: none;
    border-bottom: 1px dashed;
    width: 100%;
}
.admit_signature{
  width: 100%;
  height: auto;
  float: left;
  padding-top: 75px;
}
.signtaure_rgt{
  float: right!important;
}
.signature_lft{
  float: left;
}

.admit_header_content p {
    font-weight: 500;
    width: 80%;
    margin-left: 10%;
}
.admit_header_content span {
    font-weight: 700;
}
.content_list{
  padding: 0;
}
.admit_time input{
  width: 35%;
}
.admit_signature label{
  font-weight: 600;
}
.signtaure_rgt label{
  text-align: center;
  width: 60%;
  margin-left: 20%;
}

.admision_box label {
    margin-top: -5px;
    padding: 0px 6px;
}

/* Fees structure styles */
.fees_for_header {
    /* text-decoration: underline; */
    text-decoration: none;
    background: #6b6b6b;
    padding: 10px 15px;
    font-size: 19px;
    color: #fff;
    border-radius: 5px 5px 0 0;
}
.fees_structure_breakup_container {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 40px;
    border-radius: 8px;
    border:1px solid #6b6b6b;
}
.fees_structure_breakup_content{
    padding: 0 15px;
}
.fees_container_append {
    display: block;
    float: left;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    /* border: 1px solid #575757;  */
}
.dropdown-menu-right h5{
    text-transform: capitalize !important;
}
#page-header{
    background: #E91E63;
}
.btn-primary {
    color: #fff !important;
    background-color: #626262;
    border-color: #6a6a6a;
}
.btn-primary:hover {
    background-color: #313131;
    border-color: #313131;
}
.block-content a{
    color: #E91E63;
}
.btn-success{
    color: #fff !important;
}
#page-container.page-header-modern #page-header{
    background-color: #E91E63;
}
.feesContainer .btn-alt-primary {
    color: #fff;
    background-color: #262626;
    border-color: #373737;
}
.btn-alt-primary {
    color: #fff;
    background-color: #262626;
    border-color: #373737;
}
.btn-alt-primary:hover {
    color: #fff;
    background-color: #000;
    border-color: #262626;

}
.feesContainer .repeat_breakups_label{
    color: #E91E63 ;
}
.feesContainer .fees_container_append{
    padding: 10px 0;
}
.feesContainer .add_fees_link{
    color: #E91E63;
    padding: 5px;
    margin-bottom: 8px;
    display: inline-block;
}
.feesContainer .remove_fees_link{
    color: #E91E63 ;
}
.btn.btn-circle{
    background: #E91E63  !important;
}
.btn.btn-circle i{
    color: #fff;
}
.btn-dual-secondary i{
    color: #fff!important;
}
.container_del {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px 4px 4px;
    border-radius: 8px;
    border: 1px solid #d4dae3;
    background: #eee;
}
.repeat_breakups_label {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 15px;
    color: #4382B9;
    cursor: pointer;
}

.overlay_screen{
    position: fixed;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.89);
    z-index: 999;
    text-align: center;
    padding-top : 200px;

}
.overlay_screen p{
    font-size: 25px;
    color: #fff;
    padding: 0 15px;
}
.otp_button_container{
    width:100%;
    float: left;
    text-align: center;
    padding: 20px 0px;
}
.otp_btn{
    padding: 20px 40px;
}
.mail_btn{
    padding: 20px;
}
.clear_class{
    float:left;
    width:100%;
}
.form-group {
    margin-bottom: 20px;
}

.field_container_content .form-group{
    position: relative;
}
.custom-block{
    width:33% !important;
    float: left !important;
    padding: 10px !important;
}

.add_form{

    width: 100%;
    margin: 5% 0 0 0;

}
.add_form:after {
    content: '';
    width: 0px!important;
    position: absolute;

}


.sideInfoInner img{
    /*position: absolute;*/
    width: 50%;
    /* right: 178px; */
    /*top: -26px;*/
    z-index: 9;
    /*left: 10px;*/
}
.add_form input[type=checkbox], input[type=radio] {

    margin-bottom: 7px;
}
.add_form p {
        margin-top: 6.5%;
    margin-bottom: 0rem;

}
.sign_cand{
    margin: 10px 0 10px 0!important;
}


.s_option input, select, textarea{

    padding: 9px 20px!important;

}
.option_s input, select, textarea{

    padding: 12px 20px!important;

}
.add_form label {

    margin-top: -7px!important;
}

.table thead th {
    vertical-align: middle;
   
    text-align: center;
}


/*///////////////////////////////*/
/* Grid Style */
table.TabDisplayRecords thead tr .header {background-image: url(../images/bg.gif);background-repeat: no-repeat;background-position: center right;cursor: pointer;}
table.TabDisplayRecords thead tr .headerSortUp {
background-image: url(../images/asc.gif);
}
table.TabDisplayRecords thead tr .headerSortDown {
background-image: url(../images/desc.gif);
}
/* datepicker */
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 50%!important;
}
